
*{
  margin: 0;
  padding: 0;
}

html,
body{
  font-family: $font;
  background-color: $primary-xo;
  color: $font-color;
}

html{
  font-size: 10px;
  overflow-x: hidden;
}
body{
  font-size: 1.6rem;
}